/* header */
header {
    background: #303E4E;
    color: white;
}

/* main */
.green {
    background: #58B99E;
    color: white;
}

.my-img {
    height: 30vh;
}

.my-white-line {
    background-color: white;
    height: 0.3vh;
    width: 15vw;
} 

.my-black-line {
    background-color: black;
    height: 0.3vh;
    width: 15vw;
} 

.message {
    height: 10rem;
}

.button {
    background: #58B99E;
    color: white;
}